<!-- Modal (ModalMessage) -->
<div class="modal fade show" id="ModalMessage" tabindex="-1" role="dialog" aria-label="myModalLabel" aria-hidden="true"  data-pause=1500>
  <div class="modal-dialog">
    <div class="modal-content ">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="icon icon-clear"></span></button>
      </div>
      <div class="modal-body">
        <div class="tt-login-wishlist">
          <p>{{ "wishlist.modal_alert.message" | t }}</p>
          <div class="row-btn">
            <a href="/account/login" class="btn btn-small">{{ "wishlist.modal_alert.sign_in_button" | t }}</a>
            <a href="/account/register" class="btn btn-border btn-small">{{ "wishlist.modal_alert.register_button" | t }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>