{% comment %} Root element of PhotoSwipe. Must have class pswp. {% endcomment %}
<div
  class="pswp"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
  aria-label="Product zoom dialog"
  data-photoswipe
>

  {% comment %} Background of PhotoSwipe.
        It's a separate element as animating opacity is faster than rgba(). {% endcomment %}
  <div class="pswp__bg"></div>

  {% comment %} Slides wrapper with overflow:hidden. {% endcomment %}
  <div class="pswp__scroll-wrap">
      {% comment %} Container that holds slides.
          PhotoSwipe keeps only 3 of them in the DOM to save memory.
          Don't modify these 3 pswp__item elements, data is added later on. {% endcomment %}
      <div class="pswp__container" aria-hidden="true">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
      </div>

      {% comment %} Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. {% endcomment %}
      <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
              {% comment %}  Controls are self-explanatory. Order can be changed. {% endcomment %}
              <div class="pswp__counter"></div>
              <button class="pswp__button pswp__button--close">
                <span tabindex="-1">
    <svg     aria-hidden="true"
    focusable="false"
    role="presentation"
    xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
      <path d="M17 1L1 17" stroke="currentColor" stroke-width="1.75" stroke-linejoin="round"/>
      <path d="M1 1L17 17" stroke="currentColor" stroke-width="1.75" stroke-linejoin="round"/>
    </svg>
                </span>
              </button>
              <button class="pswp__button pswp__button--share" title="Share"></button>
              <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>
              <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

              {% comment %} Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR {% endcomment %}
              {% comment %} element will get class pswp__preloader--active when preloader is running {% endcomment %}
              <div class="pswp__preloader">
                  <div class="pswp__preloader__icn">
                    <div class="pswp__preloader__cut">
                      <div class="pswp__preloader__donut"></div>
                    </div>
                  </div>
              </div>
          </div>

          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
              <div class="pswp__share-tooltip"></div>
          </div>

          <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
          </button>
          <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
          </button>

          <div class="pswp__caption">
              <div class="pswp__caption__center"></div>
          </div>
      </div>
  </div>
  <div class="product-zoom--thumbnails" data-photoswipe-thumbs>
    <button
      class="gallery-navigation--scroll-button scroll-left"
      aria-label="Scroll thumbnails left"
      data-gallery-scroll-button
    >
    <svg class="icon-chevron-down"
    aria-hidden="true"
    focusable="false"
    role="presentation"
    xmlns="http://www.w3.org/2000/svg" width="8" height="6" viewBox="0 0 8 6" fill="none">
      <path class="icon-chevron-down-left" d="M4 4.5L7 1.5" stroke="currentColor" stroke-width="1.25" stroke-linecap="square"/>
      <path class="icon-chevron-down-right" d="M4 4.5L1 1.5" stroke="currentColor" stroke-width="1.25" stroke-linecap="square"/>
    </svg>
    </button>
    <button
      class="gallery-navigation--scroll-button scroll-right"
      aria-label="Scroll thumbnails right"
      data-gallery-scroll-button
    >
    <svg class="icon-chevron-down"
    aria-hidden="true"
    focusable="false"
    role="presentation"
    xmlns="http://www.w3.org/2000/svg"width="8" height="6" viewBox="0 0 8 6" fill="none">
      <path class="icon-chevron-down-left" d="M4 4.5L7 1.5" stroke="currentColor" stroke-width="1.25" stroke-linecap="square"/>
      <path class="icon-chevron-down-right" d="M4 4.5L1 1.5" stroke="currentColor" stroke-width="1.25" stroke-linecap="square"/>
    </svg>
    </button>
    <div class="product-zoom--thumb-scroller" data-photoswipe-thumb-scroller></div>
  </div>
</div>
