{%- assign item = section.settings -%}
<div class="container-indent">
  <div class="container">
    <div class="tt-block-title">
      <h1 class="tt-title">{{ item.text1 }}</h1>
      {% unless item.text2 == '' %}<div class="tt-description">{{ item.text2 }}</div>{% endunless %}
    </div>
    {% unless item.text3 == '' %}<div{% if item.center_b_d %} class="text-center"{% endif %}>
      {{ item.text3 }}
    </div>{% endunless %}
  </div>
</div>

{% schema %}
{
  "name": "Text Block",
  "class": "index-section",
  "settings": [
      {
        "type": "textarea",
        "id": "text1",
        "label": "Title",
        "default": "WELCOME!"
      },
      {
        "type": "textarea",
        "id": "text2",
        "label": "Small description",
        "default": "ABOUT OUR STORE",
		"info": "Empty field = hide field"
      },
      {
        "type": "checkbox",
        "id": "center_b_d",
        "label": "Center big description",
        "default": true
      },
      {
        "type": "textarea",
        "id": "text3",
        "label": "Big description",
		"default": "Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.",
		"info": "Empty field = hide field"
      }
  ],
  "presets": [
    {
      "name": "Text Block",
      "category": "Simple Section"
    }
  ]
}
{% endschema %}